<div class="wrap-login100">    
<form class="login100-form validate-form" action="/update/{{data.0.id}}" method="POST">
<div class="form-group" >
        <h1 class="title">Modificar</h1>
        <label>        
            <input value="{{data.0.id}}" type="text" id="id" name="id">
        </label>
        <label>
           
            <input value="{{data.0.name}}" type="text" id="name" name="name">
        </label>
                <label>

            <input value="{{data.0.capital}}" type="text" id="capital" name="capital">
          
        </label>
        

          <button id="buttonI" type="submit">Editar </button>
          <a href="/home" class="btn btn-danger">Regresar</a>
        </div>
    </form>
        </div>